NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXT_PUBLIC_KAKAO_JS_KEY="your-kakao-javascript-key"
NEXT_PUBLIC_KAKAO_REDIRECT_URI="http://localhost:3001/login/callback"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id"
NEXT_PUBLIC_GOOGLE_REDIRECT_URI="http://localhost:3001/login/google-callback"
